.mt-50 {
    margin-top:150px!important;
}

.nama-seller {
    font-size: 35px !important;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* .fh5co-heading h2 { */
    /* font-family: "Poppins", sans-serif; */
/* } */

.badge-custom-danger {
    background: #ff3240;
    padding: 0px 10px 0px 10px;
    border-radius: 15px;
}

.couple-half h3 { 
    font-family: "Poppins", sans-serif;
}

.fh5co-section-red {
    background: #ff3240;
    color: #fff;
}

#fh5co-footer {
    padding: 3em 0 !important;
}

.color-red {
    color: #ff3240;
}

.f-s-83{
    font-size:83px!important;
}

/* Background section */
#confirm {
    position: relative;
    background: linear-gradient(135deg, #ffffff, #f7f7f7);
    overflow: hidden;
    padding: 80px 0;
    z-index: 1;
}

/* Red & gray diagonal bars - top left */
#confirm::before,
#confirm::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    transform: rotate(45deg);
    z-index: 0;
}

#confirm::before {
    background: #e63946;
    top: -40px;
    left: -120px;
}

#confirm::after {
    background: #ccc;
    top: -20px;
    left: -70px;
}

/* Bottom right decoration */
#confirm .bar-bottom-red,
#confirm .bar-bottom-gray {
    position: absolute;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    transform: rotate(45deg);
    z-index: 0;
}

#confirm .bar-bottom-red {
    background: #e63946;
    bottom: -40px;
    right: -120px;
}

#confirm .bar-bottom-gray {
    background: #ccc;
    bottom: -20px;
    right: -70px;
}

/* Ensure form is above decorations */
#confirm .container {
    position: relative;
    z-index: 1;
}

.bg-maps {
    background: red!important;
    padding: 8px 8px 0 8px;
    border-radius: 8px;
}

#fh5co-couple {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #000;
}

.text-white {
    color: #fff!important;
}

.f-s-16{
    font-size:20px !important;
}

html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 768px) {
    .display-tc h2 {
        font-size: 13px !important;
    }

    .nama-seller {
        font-size: 25px !important;
    }

    .f-s-16{
        font-size:14px !important;
        margin-left:12px;
        margin-right:12px;
    }

    .f-s-83{
        font-size: 45px!important;
    }
}